{% extends 'base.html.twig' %}

{% block title %}Ajouter un trajet{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau trajet</h1>

    {{ form_start(form) }}

    {{ form_row(form.date_dep) }}
    {{ form_row(form.date_arr) }}
    {{ form_row(form.ville_dep) }}
    {{ form_row(form.ville_arr) }}
    {{ form_row(form.vehicule) }}

{#    <button class="btn btn-primary">Enregistrer</button>#}

    {{ form_end(form) }}

    <a href="{{ path('liste_trajet') }}">Retour à la liste des trajets</a>
{% endblock %}
