{% extends 'base.html.twig' %}

{% block title %}Ajouter un trajet{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Ajouter un nouveau trajet</h1>

    <div class="container mt-4">
        <div class="card shadow p-4" style="border-radius: 12px;">
            <div class="card-body">

                {{ form_start(form, {'attr': {'class': 'row g-4'}}) }}

                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form_label(form.date_dep, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                        {{ form_widget(form.date_dep, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form_label(form.date_arr, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                        {{ form_widget(form.date_arr, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form_label(form.ville_dep, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                        {{ form_widget(form.ville_dep, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form_label(form.ville_arr, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                        {{ form_widget(form.ville_arr, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        {{ form_label(form.nb_places, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                        {{ form_widget(form.nb_places, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group mb-3">
                        {{ form_label(form.vehicule, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                        {{ form_widget(form.vehicule, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>



                {{ form_end(form) }}

                <div class="mt-3">
                    <a href="{{ path('liste_trajet') }}" class="text-decoration-none">
                        ← Retour à la liste des trajets
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
